<div class = "login our_idea">
	<div class = "login_inner our_idea">
		<h2>Known Bugs</h2>
		<p>We have tried our best to make sure that the website is error free, however, there are a few that we want to mention here:
			<ul>
				<li>The design in the dashboard page is sometimes messed up as soon as users log into the website</li>
				<li>The courses that have to sections only have one mention in the courses catelog</li>
			</ul>
		</p>
	</div>
</div>