<div class = "login our_idea">
	<div class = "login_inner our_idea">
		<h2>How it Works</h2>
			<p>StudyBuddy is very simple to use. We have tried our best to make sure that the app is very intuitive to use.</p>

			<p>Here are some step by step instructions that could help out when you first start the application.</p>
		<ul>
			<li>Sign up for the app</li>
			<li>First page that you’ll see is the Dashboards page</li>
			<li>Firstly, make sure that you update the Study Preference by clicking the "Update Study Preference" link</li>
			<li>Then you can start adding courses</li>
			<li>The course catalog has already been populated for you to easily select the right courses</li>
			<li>After you add a course you can see all of your classmates in the course’s page. </li>
			<li>The main essence of the app is to make study sessions. You can make study sessions from the dashboard itself. Or you can make them in the course page as well.</li>
			<li>After creating a study session, the invitations automatically go out to everyone in the class. Once we have more users in the website, we will
			 add a feature of selectively inviting classmates.</li>
			<li>You can see all of the website’s users activity in the activity feed on the dashboard page</li>
			<li>You can keep updated on the happenings of your course in your notification</li>
		</ul>
			<p>If you have any suggestions on how to improve the usability and design of the application, please drop us a line in the <%=link_to "Contact Us", new_get_in_touch_path %> page.</p>

		Cheers,<br>
		StudyBuddy Team
	</div>
</div>	