<div class = "login our_idea">
	<div class = "login_inner our_idea">
	
		<h1>Our Idea</h1>


		<h3>Goal</h3>
		
		<p>Our goal with StudyBuddy is to make the process of arranging effective group study sessions effortless and to encourage students to participate in group studies. We want to see students collaborating with one another.</p>
		
		<h3>Why?</h3>
		<p>Because we think that if done in a certain way, group studying can be a very effective way of learning. We think collaboration among students ignites creativity and new ideas. Please view the <a href = "http://www.ted.com/talks/howard_rheingold_on_collaboration.html" target="_blank">Power of collaboration</a> Ted Talk if you want to find out more.</p> 
		<p>Moreover, we think are lots of complications in arranging an effective group study sessions. These complications might even discourage students from taking advantage of the benefits that come from studying in groups.</p>

		<h3>What might be those complications?</h3>
	<ul>
		<b><li>Scheduling Problems</li></b>
		<p>It is difficult to find a common time between more than two students. Reaching out to more than one person to arrange a common time can take a lot of time and effort.</p>
		<b><li>Mutuality</li></b>
		<p>The best study sessions are when students in the groups have similar goals. There might be situations where you only need to solve one more problem in the problem set, whereas your friends have not started the homework yet. This applies not only to problem sets, but other assignments as well.</p>
		<b><li>No existing friends in the class</li></b>
		<p>Students are more likely to study in groups if they already have friends who are also enrolled in the class. However, there might be situations in which you might not know your fellow classmates. In these situations, it might be more difficult to reach out to an unfamiliar classmate.</p>
	</ul>

	<h3>What might be the benefits of studying in groups?</h3>
	<h6><i>Source: <a href = "http://www.montclair.edu/media/montclairedu/residentialeducation/pdffiles/Study-Group-Tips-and-Advantages-1.pdf" target="_blank">Peer Study Groups</a></i>
	</h6><ul>
		<li>Helps with Procrastination</li>
		<li>Understand/Absorb Information More Efficiently</li>
		<li>Different Perspectives</li>
		<li>Improve/Develop New Study Skills</li>
		<li>Positive Social Aspect</li>
		<li>Minimizes Test Anxiety</li>
		<li>Enhance your personal/professional skills</li>
	</ul>

	<h3>How is StudyBuddy different from other mediums of forming group study?</h3>
	<ul>
		<b><li>Texting, emailing, Facebook message and in-person</li></b>
		<p>Scheduling needs to be done through continuous communication. The back and forth nature of this might require a lot of time and effort, especially if you are trying to arrange group study with more than one friend. In StudyBuddy you will be able to arrange a group study session effortlessly in communicating with your friends.</p>
		<p>In addition, you need to have your classmate's number, be Facebook friends or know the person in order to extend a conventional study group invitation.  However, with StudyBuddy you can invite all of your classmates that have registered on the website.</p>
		<p>Finally, it's hard to select the right audience with these methods. If a classmate is your Facebook friend or you have their number/email, it doesn’t necessarily mean that he/she wants to study in a group. However, all students who register for StudyBuddy are those who would be interested in studying in groups.</p>
		<p>In short, using Study Buddy is an easier way to reach out to classmates who are interested in studying in groups. It is a much easier process than the more conventional trial and error methods of texting, emailing and even in-person.</p>
		<b><li>Facebook Events</li></b>
		<p>While creating Facebook events for your study sessions may be a good idea, it is only effective if you are Facebook friends with your classmates. Moreover, there is no way to tell if the friends that you invited are free and willing to study at any given date and time.  StudyBuddy, on the contrary, allows you to update your timing preferences and recommends times that are most likely going to work for your classmates.  It is simply an easier way to reach out to your classmates, as well as to easily determine which times might work best for all participants.</p>
		<b><li>LATTE Forum Posts</li></b>
		<p>In general, LATTE forum posts are sent to everyone in class through emails. Naturally, this entails some of the complications mentioned in the first bullet point.  In all honesty, nobody wants extra emails, and thus this method is largely ineffective.</p>
	</ul>

	<h3>Please tell us what you think about our idea!</h3>
		<p>We have put in a lot of time and effort in creating this application. However, we have made a number of assumptions, such as:
		<ul>
			<li>Arranging effective group study is complicated</li>
			<li>Students would want to study in groups</li>
			<li>Students have difficulties reaching out to unfamiliar classmates</li>
			<li>Existing methods of forming group study don't provide specifics to arranging effective group study</li>
		</ul>
		 Therefore, we need your opinion to determine if this idea has the potential to be a application that stands the test of time.</p>
		<p> Please help us in testing these assumptions by filling out this survey. If you don't want to spend too much time in filling out the survey, you can always drop us a line in the <%=link_to "Contact Us", new_get_in_touch_path %> page.</p>
	Cheers,<br>
	StudyBuddy Team
	</div>
	<i>Editing Credit: Ellyn Sherman</i>
</div>
