<% @page_title = "Team" %>

<div class = "login our_idea">
	<div class = "login_inner our_idea">
		<h2>StudyBuddy Team</h2>
		<p>StudyBuddy would not have been possible if not for hard work from its team members. StudyBuddy is a class project for a Computer Science independent study with Prof. Tim Hickey. </p>

		<br>

		<p><b>Avishek Neupane</b><br>
		<div class = "bio_photo_avishek">
		</div>
		<br>
		From Kathmandu, Nepal, Avishek Neupane is a senior majoring in Computer Science, Business and minoring in Economics. He had the idea for StudyBuddy while reading No Contest by Alfe Kohn for his Social Class and Social Change class. His interests include collaborating with people, social entrepreneurship, experiential learning, programming, web applications, music, guitar and cricket.</p>

		<p><b>Berk Sarioz</b></p>
		<div class = "bio_photo_berk">
		</div>
		<br>
		From Izmir, Turkey, Berk Sarioz is a senior majoring in Computer Science, Linguistics, and minoring in Math. He joined Study Buddy after he was convinced that they could create value, and he has focused on creating a product that people want. His interests include natural sciences, technology, IT entrepreneurship, and ballroom dancing.
		<br><br>
		<p><b>Derrick Orare</b></p>
		<div class = "bio_photo_derrick">
		</div>
		<br>
		From Nairobi, Kenya, Derrick Orare is a senior majoring in Computer Science, and African and Afro-American Studies with a key interest in Political Economy and Government. After participating in previous collaborative projects that encountered several scheduling hitches, Derrick saw the importance of StudyBuddy. His interests include mobile application development, political blogging, soccer and music production.
		<br><br>

		<p><b>Soha Sattar</b></p>
		<div class = "bio_photo_soha">
		</div>
		<br>
		From Bridgewater, Massachusetts Soha is a senior majoring in Computer Science with a minor and big interest in Business, and Theatre. She is very hopeful about the Study Buddy website because from personal experience she knows about the positive outcomes of collaborative study. Her interests include programming and fashion!  

	</div>
</div>