/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.autocomplete
 *= require_tree .
 */
 
 body{
 	/*background-color: rgb(82, 131, 176) !important;*/
 	font-family: "ars-maquette-web","open sans",sans-serif !important;
 	color: rgb(102,102,102) !important;
 	font-size: 12px !important;
 }
 label {
    display: inline-block !important;
    margin-bottom: 3px !important;
 }
input#user_email{
	margin-top: 12px;
	margin-bottom: 20px;
	font-weight: 500;
}
input#user_password{
	margin-bottom: 20px;
	font-weight: 500;
}

input#user_password_confirmation{
	margin-bottom: 20px;
	font-weight: 500;
}

input#user_first_name{
	margin-bottom: 20px;
	font-weight: 500;
}

input#user_last_name{
	margin-bottom: 20px;
	font-weight: 500;
}

input#sign_in_button{
	width:190px;
}

#sign_up_button{
	width: 180px;
}

.hover { 
	background-color: #ccc !important; 
	cursor: pointer;
}

 .navbar .nav{
 	float: right !important;
 }

 div.login{
 	width: 450px;
	background-color: rgb(233,233,233);
	margin-left: auto;
	margin-right: auto;
 }

 div.login_inner{
 	padding: 2px;
	margin: 20px;
 }

div.motto{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px !important;
	text-align:center;
	color:white;
}

 a.brand{
  width: 29%;
  height: 20px;
  background: url("final_beta_logo.png") scroll 0px 7px;
  margin-left: 20px !important;
  background-position: left top;
  background-repeat: no-repeat;
  margin-top: 6px;
}

#friends{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

div.header_row{
	position: relative;
	margin-bottom: 50px;
}

div.header_pagination{
	position: absolute;
	left: 0px;
	font-size: 25px !important;
    font-weight: bold;
    padding-top: 4px;
}
}

.paginations{
	margin-left: 15px;
}

div.add_course_button{
	position: absolute;
	right: 0px;
}

div.update_pref_button{
	position: absolute;
	right: 167px;
}
div.class_box{
	border: 2px solid #a1a1a1;
	background-color: rgb(249,249,300);
	margin-bottom: 15px;
	padding: 20px;
}

div.class_box_info{
	position: relative;
	height: 50px;
	width: 100%;
}

div.left_info{
	padding-top: 4px;
	position: absolute;
	left:0px;
}

div.right_info{
	position: absolute;
	right:0px;
}

div.classname_heading{
	padding:5px;
	font-weight: bold;
	margin-right: 35%;
}

div.news_heading{
	border-bottom: 4px solid rgb(193, 194, 195);
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}


div.span5.facebook_marketing{
	width:50%;
	margin-left: 0px;
}

div.span5.recent_updates{
	margin-left: 8%;
}

div.news_headings{
	font-size: 12pt;
	font-weight: bold;
}
#list_table{
	width: 55%;
}

div.time_ago{
	margin-left: 17px;
	font-style: italic;
	font-size: 11px !important;
}

div.activity{
	margin-bottom: 22px;
}

#show_all_courses{
	padding: 5px;
}

#show_all_courses_text{
	margin-left: auto;
	margin-right: auto;
	width: 120px;
}

#class_pagination_left{
	display: none;
}

#class_pagination_right{
	display: none;
}

div.login.our_idea{
	width: 75%;
}

div.login_inner.our_idea{
	font-size: 13.5px !important;
}

div.bio_photo_avishek{
	height: 200px;
	width: 225px;
	background: url("/assets/avishek.jpeg") no-repeat;
}

div.bio_photo_soha{
	height: 275px;
	width: 225px;
	background: url("/assets/soha.jpg") no-repeat;
}

div.bio_photo_berk{
	height: 200px;
	width: 225px;
	background: url("/assets/berk.png") no-repeat;
}
div.bio_photo_mustapha{
	height: 200px;
	width: 225px;
	background: url("/assets/mustapha.jpg") no-repeat;
}
div.bio_photo_derrick{
	height: 200px;
	width: 225px;
	background: url("/assets/derrick.jpg") no-repeat;
}
.contact_us_text{
	width:97%;
}
#buttons_wrapper{
	display: block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#schedule_buttons{
	margin-left: auto;
	margin-right: auto;
	width: 375px;
}
ul.dropdown-menu.notification{
	min-width: 450px;
}

.red-box{
	height:20px;
	width: 30px;
	background: url("/assets/red.png") no-repeat;
}
.green-box{
	height:20px;
	width: 30px;
	background: url("/assets/green.png") no-repeat;
}
.white-box{
	height:20px;
	width: 30px;
	background: url("/assets/white.png") no-repeat;
}
#green-box{
	float:left;
	height:20px;
	width: 30px;
	background: url("/assets/green.png") no-repeat;
}
#red-box{
	float:left;
	height:20px;
	width: 30px;
	background: url("/assets/red.png") no-repeat;
}

#white-box{
	float:left;
	height:20px;
	width: 30px;
	background: url("/assets/white.png") no-repeat;
}
.hide{
	display:none;
}
.show{
	display:inherit;
}

li.dropdown:nth-child(3) > a:nth-child(1) > sub:nth-child(1){
	color:red;
}
#new_user{
	margin:0px 0px 15px;
}

.login_buttons{
	margin-top: 16px;
}

#user_profile_center label{
	font-weight: bold;
}
.login_textarea{
	width: 95%;
}
.login_textarea input{
	width: 95%;
}
