/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 body{
 	/*background-color: rgb(82, 131, 176) !important;*/
 	font-family: "ars-maquette-web","open sans",sans-serif !important;
 	color: rgb(102,102,102) !important;
 }
 label {
    display: inline-block !important;
    margin-bottom: 3px !important;
 }
input#user_email{
	width: 95%;
	margin-top: 12px;
	margin-bottom: 20px;
	font-weight: 500;
}
input#user_password{
	width: 95% ;
	margin-bottom: 20px;
	font-weight: 500;
}

input#user_password_confirmation{
	width: 95% ;
	margin-bottom: 20px;
	font-weight: 500;
}

input#user_first_name{
	width: 95% ;
	margin-bottom: 20px;
	font-weight: 500;
}

input#user_last_name{
	width: 95% ;
	margin-bottom: 20px;
	font-weight: 500;
}

input#sign_in_button{
	margin-top: 17px; 
}
 .hover { 
 	background-color: #ccc !important; 
 	cursor: pointer;
 }
 #invite_fb_friends{
 	margin-left: 28%;
 	width: 40%;
 }

 .navbar .nav{
 	float: right !important;
 }

 div.login{
 	width: 450px;
	background-color: rgb(233,233,233);
	margin-left: auto;
	margin-right: auto;
 }

 div.login_inner{
 	padding: 2px;
	margin: 20px;
 }

 a#fb_link{
 	margin-top: 17px;
	height: 17px;
 }
 a.brand{
 	margin-left: 20px !important;
 }