<div class = "container">
	<div class = "row">
		<div class = "span7">
			<!-- This is where the course block gets rendered -->
			<!-- Heading -->
			<!-- pagination of the table-->
			<!-- create courses button-->
			<!-- list of classes -->
			<!-- show class classes button that is a bit -->
		</div>
		
		<div class = "span 5">

		</div>
	</div>
</div>
